<div class="hero">
 </br />
 <div class="frosty col-10 offset-1 text-center">
  <br />
  <h1>Learn how to interact with real people</h1>
  <br />
  <h2>No swiping or tapping here</h2>
  <br />
  <%= link_to 'Learn More', 'courses_path', class: 'btn btn-success' %>
  <br /><br />
 </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Introducing Yourself</h3>
    <br />
    <p>Learn how to enter a conversation and become a part of it</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Being Confident</h3>
    <br />
    <p>Whether you believe you deserve to be heard or not, you deserve it</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Building Relationships</h3>
    <br />
    <p>Discover how amazing and natural it feels to have a genuine face to face conversation</p>
  </div>
</div>